{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
     <h1><a class="article-title">Filmstaden movie recommender</a></h2>
        <p class="article-content">This is a recommendation engine for movies currently shown on Filmstaden cinemas.</p>
      <h2><a class="article-title">Movies</a></h2>
          <p class="article-content">The "Movies" section shows you each movie currently on cinema with a short description. This is also where you can rate movies you have seen with either 1 or -1. If you liked the movie, give it a 1 and if you disliked it, give it a -1.</p>
      <h2><a class="article-title">Recommendations</a></h2>
          <p class="article-content">The "Recommendations" section shows you the top movies on cinema right now that matches your history.</p>

    </div>
  </article>
{% endblock content %}