{% extends "layout.html" %}
{% block content %}
<style>

  div.sticky {
    width: 50%;
    bottom: 10px;
    border: 1px solid #3d3b4c;
  } 
  </style>
<h1>Movies currently on cinema</h1>
<ul class="movie-list"></ul>
{% for movie in movies %}
<article class="media content-section">
    <img class="container.sm movie-img" src="{{ url_for('static', filename='images/' + movie[-1]) }}"/>
    <div class="media-body">
      <h2><a class="article-title">{{ movie[4] }}</a></h2>
      <p class="article-content">{{ movie[-2] }}</p>
      <div class="sticky">
        <form method="POST" action="/history">
          {{ form.csrf_token }}
          {{ form.name.label }} {{ form.name(size=15, value=movie[4].strip()) }}
          {{ form.rating.label }} {{ form.rating(size=2, placeholder="1 or -1") }}
          <input type="submit" value="Go">
        </form>  
      </div>
    </div>
  </article>
{% endfor %}
{% endblock content %}

